.place__title{
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 900;
    margin: 0;
    font-size: 72px;
    line-height: 106%;
    flex-shrink: 0;
    width: 100%;
    max-width: 460px;
    box-sizing: border-box;
}

@media (max-width: 1024px) {
    .place__title{
        max-width: 440px;
        padding-left: 48px;
    }
}

@media (max-width: 768px) {
    .place__title{
        font-size: 42px;
        line-height: 110%;
        max-width: 340px;
    }
}

@media (max-width: 750px) {
    .place__title{
        font-size: 32px;
        line-height: 109%;
        padding-left: 16px;
        padding-right: 16px;
    }
}