.places{
    max-width: 984px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 92px;
}

@media (max-width: 1024px){
    .places{
        padding-right: 48px;
        padding-left: 48px;
    }
}


@media (max-width: 768px){
    .places{
        padding-right: 24px;
        padding-left: 24px;
        margin-bottom: 90px;
    }
}

@media (max-width: 750px){
    .places{
        padding: 0;
        margin-bottom: 34px;
    }
}