.cover__subtitle {
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: normal;
    width: 350px;
    font-size: 18px;
    line-height: 122%;
    text-align: center;
}

@media (max-width: 600px){
    .cover__subtitle{
        width: 270px;
        font-size: 14px;
        line-height: 114%;
    }
}
