.place__paragraphs{
    margin: 0;
    padding: 0;
    font-family: 'Inter', 'Arial', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 163%;
    padding-left: 40px;
    max-width: 484px;
}

@media (max-width: 1024px) {
    .place__paragraphs{
        max-width: 456px;
        padding-left: 32px;
    }
}

@media (max-width: 768px) {
    .place__paragraphs{
        max-width: 352px;
        padding-left: 28px;
        font-size: 16px;
    }
}

@media (max-width: 750px) {
    .place__paragraphs {
        font-size: 16px;
        margin: 0 auto;
    }
}

@media (max-width: 320px) {
    .place__paragraphs {
        margin: 0;
        padding-left: 16px;
        padding-right: 16px;
    }
}