.cover__text{
    font-family: 'Inter', 'Arial', sans-serif;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    max-width: 560px;
    color: #FFFFFF;
    z-index: 2;
}

.cover__text:visited {
    color: #FFFFFF;
   }