.place__website{
    margin-left: 40px;
}

@media (max-width: 1024px) {
    .place__website{
        margin-left: 32px;
    }
}
@media (max-width: 768px) {
    .place__website{
        margin-left: 28px;
    }
}

@media (max-width: 750px) {
    .place__website{
        display: none;
    }
}


